*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
}

.box-card{
    width: max-content;
    height: fit-content;
    padding: 1rem 2rem;
    background-color:rgb(31, 13, 193);
    gap: 3rem;
    display: flex;
    direction: row;
    justify-content: center;
}
.items:nth-child(1):hover{
    display: none;
}
.items:nth-child(2){
    visibility: hidden;
}

.items:nth-child(3):hover{
    opacity: 0;
}

.items{
    width: 10rem;
    height: 10rem;
    color: antiquewhite;
    background-color: black;
    border: 2 solid red;
    cursor: pointer;
    
}

